body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* body{
  background-color: #0F0C0C;
} */

/* ****************** NAV ****************** */

.navStyle {
  border-bottom: 1px solid #40265B;
}

.iconButton{
border: #fff6f7 solid 1px;
border-radius: 50%;
}

/* ****************** LOGIN ****************** */

.loginButton{
  display: flex;
  flex-direction: row;
  justify-content: center;
}


/* ****************** SIGNUP ****************** */

.formBox {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 50px;
}

.innerFormBox {
  border: #7E2E84 solid 1px;
  box-shadow: #3B1760 0px 2px 8px 0px;
  border-radius: 6px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.alertDiv {
  padding-bottom: 10px;
}

.errorMessage {
  color: red;
  font-size: 14px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

/* ****************** PROFILE AND PLAYLIST ****************** */

.outterProfileCard {
  border: 3px solid #3B1760;
  border-radius: 6px ;
  justify-content: center;
  display: flex;
  margin: auto;
  width: 60%;
}

.playlist {
  width: 90%;
  justify-content: center;
  display: flex;
  margin: auto;
  margin-bottom:10px;
  border: 1px solid #3B1760;
  box-shadow: #3B1760 0px 2px 8px 0px;
  border-radius: 5px;
}

.playlist div{
  width: 100%;
  margin: 1px;
  background-color: #fff6f7;
  /* border: solid white */
}

.playlistResponseCard {
  padding: 5px;
}

.spacerDiv {
  height: 25px;
}

.headerDiv {
  font-size: 1.3rem;
}


/* ****************** HOME/ALL USERS ****************** */

.homeHeader{
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 20px;
}
.userCard {
display: flex;
align-content: center;
justify-content: center;
align-items: center;
flex-direction: row;
padding: 10px;
}

.userCardBorder{
  border: 1px solid #3B1760;
  box-shadow: #3B1760 0px 2px 8px 0px;
  border-radius: 5px;
  margin: 80px;
}

.outerUserCard{
  border: 1px solid #3B1760;
  box-shadow: #3B1760 0px 2px 8px 0px;
  border-radius: 5px;

  width: 80%;
}

/* .userInfoSection{
  border: red 1px solid;
} */

.avatarSection{
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  align-content: center;
}

.userDataSection{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}